/* centered on the page and centers content inside by width */
.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
/* occupies the entire screen space and centers the content in width and height */
.centeredContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDirectionColumn {
    flex-direction: column;
}

.submitButton, .toggleButton {
    border: none;
    border-radius: 0.2em;
    padding: 0.6em 1em;
    color: var(--white-color);
    background-color: var(--button-color);
}
/* animation for submit button */
.submitButton {
    transition: transform 0.2s ease-in;
    
    &:hover {
        cursor: pointer;
        transform: translateY(2px);
    }
}