.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .errorMessage {
        position: absolute;
        right: 5px;
        top: -40px;
        font-size: 0.9em;
        color: rgb(180, 19, 19);
    }

    fieldset {
        padding: 1em 2em;

        legend {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        
        .inputField {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            input {
                margin-left: 1em;
                padding: 0.5em;
            }
        }
    
        .buttonField {
            display: flex;
            justify-content: flex-end;
            align-items: center;            
        }
    }

}

.toggleForm {
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
        margin-right: 1em;
        font-size: 0.8rem;
    }
    .sign {
        font-size: 0.8rem;
        color: blue;
        
        &:hover {
            cursor: pointer;
        }
    }
}