.linkList {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;

    .listItem {

        a {
            color: #fff;
            text-decoration: none;
            transition: color 0.2s ease-in;

            &:hover {
                color: blue;
            }
        }
    }

    .listItem:not(:last-child) {
        margin-right: 0.5em;
    }

}